body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
}

section {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

section img {
    width: 400px;
    height: auto;
}

section p {
    width: 50%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 20px 20px;
    width: 100%;
}

footer a {
    text-decoration: none;
}